<div class="lists py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-center" *ngFor="let ground of grounds">
          <div class="list_img mr-3">
            <img src="{{ground.image}}" alt="" class="" style="width: 240px;">
          </div>
          <div class="list_content">
            <span class="font-weight-bold">Id: {{ground.id}}</span>
            <h6 id="title"><span class="font-weight-bold">Ground name: </span>{{ ground.name }}</h6>
            <p><span class="font-weight-bold">Area: </span>{{ground.area}}</p>
            <p><span class="font-weight-bold">Ratings: </span>{{ground.rating}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div *ngFor="let user of users">
          <div><span>Id: </span>{{user.id}}</div>
          <div><span>name: </span> {{user.name}}</div>
          <div><span>Email: </span>{{user.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


